<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="with=device-width,initial-scale=1.0 ">
    <title>university website</title>
    <link rel="icon" type="image/x-icon" href="https://st3.depositphotos.com/9543826/12593/v/950/depositphotos_125930754-stock-illustration-university-emblem-logo.jpg">
    <link rel="stylesheet" href="/static/ps.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
        }

        .Department {
            text-align: center;
            padding: 20px;
            background-color: aqua;
        }

        .nav-linksdept ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            margin: 0;
        }
        li {
            margin: 3px;
        }

        button {
            background-color: #667fec;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block; /* Remove extra space beneath inline images */
            margin: 0 auto; /* Center the image */
        }
        .dept-content {
            max-width: 600px;
            margin: 20px auto;
            text-align: left;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .aboutdept {
            max-width: 800px;
            margin: 20px auto;
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        p {
            line-height: 1.6;
            margin-bottom: 15px;
        }
        @media only screen and (max-width: 600px) {
            .nav-linksdept ul {
                flex-direction: column;
            }

            li {
                margin: 10px 0;
            }
        }
    </style>
</head>

<body>

    <section class="header">
        <nav>
            <a href="/"><img src="/static/logo.png"></a>
            <div class="nav-links" id="navLinks">
               <!-- <i class="fa fa-times" onclick="hideMenu()"></i>-->
                <ul>
                    <li><a href="/faculty">faculty</a></li>
                    <li><a href="/students">Students</a></li>
                    <li><a href="/loginpage">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="#cta">Contact</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="#course">Course</a></li>
                    <li><a href="#campus">campus</a></li>
                    <li><a href="#faci">Facilities</a></li>
                    <li><a href="#department">Departments</a></li>
                </ul>
            </div>
           <!-- <i class="fa fa-bars" onclick="showMenu()"></i>-->
        </nav>
        <div class="text-box">
            <h1>World's Biggest University</h1>
            <p>where world-class proessors,innovative research and da dynamic student<br> cummunity come together to
                advance
                education and faster chalange in the<br> world.</p>
            <a href="" class="hero-btn">Visit Us To Know More</a>
        </div>
    </section>
    <!----course----->
    <section class="course" id="course">
        <h1>Course We Offer</h1>
        <p>lorem ipsum dolor sit amet,consecteture adipiscing elit.</p>
        <div class="row">

            <div class="row">
                <div class="course-col">
                    <h3>Degree</h3>
                    <p>a course of studies leading toward a degree : an academic subject accepted in partial fulfillment
                        of the requirements for a degree.
                    </p>
                </div>
                <div class="course-col">
                    <h3>Post Gradution</h3>
                    <p>a course of studies leading toward a degree : an academic subject accepted in partial fulfillment
                        of the requirements for a degree.
                    </p>
                </div>
                <div class="course-col">
                    <h3>Post Gradution</h3>
                    <p>Postgraduate education can involve studying for qualifications such as postgraduate certificates
                        and postgraduate diplomas. They are sometimes used as steps on the route to a degree, as part of
                        the training for a specific career, or as a qualification in an area of study too narrow to
                        warrant a full degree course.
                    </p>
                </div>
    </section>
    <!---campus-->
    <section class="campus" id="campus">
        <h1>Our Globle Campus</h1>
        <p>Uncover the richness of campus life by navigating mk,s schools,programs,sports,museums and libraries</p>
        <div class="row">
            <div class="campus-col">
                <img src="/static/london.png">
                <div class="layer">
                    <h3>LONDON</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="/static/newyork.png">
                <div class="layer">
                    <h3>NEW YORK</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="/static/washington.png">
                <div class="layer">
                    <h3>WASHINGTON</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="facilities" id="faci">
        <h1>Our Facilities</h1>
        <p>
            Welcome to
            our university

            PROMISE A BRIGHT FUTURE

            PrevNext

            College & Campus Facilities
            FACILITIES

            The college is situated in the heart of the city. Apart from being the Garden City, Bangalore is now the
            natural choice and preferred destination for students from different parts of the country to pursue
            professional education, be it in Engineering, Medicine or any other field. The city is home to globally
            renowned corporate houses in the IT sector. The distance to the college from the city railway station and
            Bangalore airport is 7 kms & 15 kms respectively.</p>
        <div class="row">
            <div class="facilities-col">
                <img src="/static/library.png">
                <h3>World Class Library</h3>
                <p>A library is a place where books and sources of information are stored. They make it easier for
                    people to get access to them for various purposes. Libraries are very helpful and economical too.
                    They include books, magazines, newspapers, DVDs, manuscripts and more. In other words, they are an
                    all-encompassing source of information.</p>
            </div>
            <div class="facilities-col">
                <img src="/static/basketball.png">
                <h3>Largest Playground</h3>
                <p>A playground is a place where students can play. Typically, they have playthings for kids to use,
                    like
                    slides, swings, and seesaws. A playground can improve your pavement surface and make your kids enjoy
                    the playground more. Usually, they are outside, but occasionally, they are inside a building.</p>
            </div>
            <div class="facilities-col">
                <img src="/static/cafeteria.png">
                <h3>Tasty And Healthy Food</h3>
                <p>When we intake healthy fruits and vegetables that are full of nutrients, we reduce the chances of
                    diseases. For instance, green vegetables help us to maintain strength and vigor. In addition,
                    certain healthy food items keep away long-term illnesses like diabetes and blood pressure.</p>
            </div>
        </div>

    </section>
    <section class="testimonials">
        <h1>What Our Students Says</h1>
        <p>Our current international students and alumni are strong and valued ambassadors of the University. Read about
            their experience of studying here, in their own words. And if you want join our student community
            conversation, simply follow our social media on the link below</p>
        <div class="row">
            <div class="testimonial-col">
                <img src="/static/user1.jpg">
                <div>
                    <p>It provides not only the high-level skills necessary for every labor market but also the training
                        essential for teachers, doctors, nurses, civil servants, engineers, humanists, entrepreneurs,
                        scientists, social scientists, and a myriad of other personnel.</p>
                    <h3>Christine berkley</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="testimonial-col">
                <img src="/static/user2.jpg">
                <div>
                    <p>It provides not only the high-level skills necessary for every labor market but also the training
                        essential for teachers, doctors, nurses, civil servants, engineers, humanists, entrepreneurs,
                        scientists, social scientists, and a myriad of other personnel.</p>
                    <h3>david byer</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
    </section>
    <section class="Department" id="department" style="background-color:#778df1">
        <h1>Departments in our University</h1>
            <a href="/"><img src="/static/logo.png"></a>
            <div class="nav-linksdept" id="navLinksdept">
                    <ul>
                        <li><button><a href="/csedept/">Computerscience</a></button></li>
                        <li><button><a href="/envidept/">Enviorment</a></button></li>
                        <li><button><a href="/mathdept">Mathematics</a></button></li>
                        <li><button><a href="/biodept">Biology</a></button></li>
                        <li><button><a href="/materdept">materials</a></button></li>
                        <li><button><a href="/archedept">Archetecture</a></button></li>
                    </ul>
            </div>
            <div class="aboutdept" id="aboutdept">
                <p>Welcome to the Departments page of our university. Here, you can explore the various academic disciplines that our university offers. Each department plays a crucial role in providing high-quality education and contributing to research and innovation.</p>
        
                <p>Learn more about each department:</p>
                
                <div id="csedept-content" class="dept-content">
                    <h2>Computer Science Department</h2>
                    <p>The Computer Science Department is dedicated to advancing the field of computer science through education, research, and innovation. Explore the exciting world of algorithms, programming, and cutting-edge technologies.</p>
                </div>
        
                <div id="envidept-content" class="dept-content">
                    <h2>Environmental Science Department</h2>
                    <p>The Environmental Science Department focuses on understanding and addressing environmental challenges. Join us in exploring sustainable solutions for a greener and healthier planet.</p>
                </div>
                <div id="Mathdept-content" class="dept-content">
                    <h2>Mathemaics Department</h2>
                    <p>The Mathematics Department focuses on understanding and addressing Mathematic challenges. Join us in exploring sustainable solutions for a greener and healthier planet.</p>
                </div>
                <div id="biodept-content" class="dept-content">
                    <h2>Biology Department</h2>
                    <p>The Boilogy Department focuses on understanding and addressing Biological challenges. Join us in exploring sustainable solutions for a greener and healthier planet.</p>
                </div>
                <div id="materialdept-content" class="dept-content">
                    <h2>Material Science Department</h2>
                    <p>The Material Science Department focuses on understanding and addressing about Materials. Join us in exploring sustainable solutions for a greener and healthier planet.</p>
                </div>
                <div id="archdept-content" class="dept-content">
                    <h2>archetacture Department</h2>
                    <p>The archetacture Department focuses on understanding and addressing archetacture challenges. Join us in exploring sustainable solutions for a greener and healthier planet.</p>
                </div>
        
            </div>
    </section>
    <section class="cta" id="cta">
        <h3>Enroll for our various online courses<br> Anywhere from the world </h3>
        <a href="/contact" class="hero-btn">CONTACT US</a>
    </section>
    <section class="footer">
        <h4>About Us</h4>
        <p>
            University is full of opportunities, but sometimes it can be hard to know which way to look first <br> or at
            least know where you’re headed especially when your peers<br> seem to know what they’re doing.</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twiter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o">Easy Tutorials</i></p>

    </section>
    <!--javascript-->
    <script>
        var navLinks = documents.getElementById("navLinks");
        function showMenu() {
            navLinks.style.right - "0";
        }
        function hideMenu() {
            navLinks.style.right - "-200";
        }
    </script>

</body>

</html>